@import './c_app.scss';
@import './c_themes.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  transition: $transition-bezier;
}

.header {
  display: flex;
  width: $full-span;
  justify-content: space-between;
  padding: $small-spacing $large-spacing;
  position: sticky;
  top: -1px;
  z-index: 1;

  .logo {
    display: flex;
    align-items: center;
  }

  .theme-switch {
    display: flex;
    justify-content: flex-end;
    padding: $small-spacing;
  }
}

button {
  font-size: $medium-font-size !important  ;
}

input {
  border: none;
  font-size: $medium-font-size;
  padding: $mid-spacing;
  outline: none;
  border-radius: $default-border-radius;
  box-sizing: content-box;
  transition: all ease 250ms;

  &:focus {
    border: 2px solid $primary-color !important;
    border-radius: $default-border-radius;
  }
}

select, option {
  width: 140px;
  outline: none;
  border-radius: $default-border-radius;
  font-size: $medium-font-size;
  padding: $mid-spacing;
  transition: $transition-ease;

  &:focus {
    border: 2px solid $primary-color !important;
    border-radius: $default-border-radius;
  }

  option {
    margin: $mid-spacing;
  }
}

@each $theme, $value in $themes {
  $bg: map-get($value, "bg");
  $colors: map-get($value, "colors");
  $font: map-get($value, "font");
  $border: map-get($value, "border");

  .app.#{$theme} {
    @each $key, $bg-color in $bg {
      --#{$key}: #{$bg-color};
    }
    @each $key, $color in $colors {
      --#{$key}: #{$color};
    }

    background: var(--bg-primary);
    background-color: var(--bg-secondary);

    .header {
      background-color: var(--bg-overlay);
    }

    .theme-font-color {
      color: $font;
    }

    .modal-container {
      background-color: var(--bg-overlay);

      .modal > div {
        background-color: var(--bg-secondary);
      }
    }


    .parking-lot {
      background-color: var(--bg-primary);
    }

    .row {
      border: 2px solid var(--bg-primary);
    }

    input, select {
      background-color: var(--bg-input);
      border: 2px solid var(--bg-input);
    }

    .entry-form {
      border: $border;
    }
  }

}

button {
  cursor: pointer;
}

.main {
  padding: $large-spacing
}

.plate-number-container {
  max-width: 200px;
  padding: $xsmall-spacing;
  margin: $xsmall-spacing;
  background-color: hsl(52, 100%, 59%);
  border-radius: $default-border-radius;
  box-shadow: $default-shadow;
  min-width: 40%;
  height: fit-content;
  transition: $transition-bezier;

  .plate-number {
    padding: $xsmall-spacing;
    border-radius: $default-border-radius;
    border-top: $thick-border;
    border-bottom: $thick-border;
    text-align: center;
  }
}

.unpark {
  display: flex;
  width: $full-span;

  .details {
    flex-grow: 2;
    margin-left: $mid-spacing;

    .details-row {
      display: flex;
      margin-bottom: $xsmall-spacing;

      div {
        padding: 0 $xsmall-spacing;
      }

      .details-label {
        width: 40%;
        text-align: right;
      }
      .details-value {
        text-align: left;
      }
    }
  }
}

.override {
  padding: $large-spacing 0;
  display: flex;

  input {
    margin-right: $mid-spacing;
  }
}

.btn-controls {
  display: flex;
  justify-content: flex-end;
  padding: $small-spacing 0;
}

.columns {
  display: flex;
  overflow-x: auto;

  .column {
    flex-grow: 1;
    min-width: $third-span;

    .entry-form {
      padding: $mid-spacing;
      margin: $xsmall-spacing;
      border-radius: $default-border-radius;

      .car-details {
        display: flex;
        width: $full-span;
        justify-content: space-between;

        .btn-random {
          border-radius: $full-border-radius;
          height: 64px;
          margin-right: $small-spacing;
        }

        .plate-number {
          flex-grow: 2;
          margin-right: $small-spacing;
        }
      }
    }

    .rows {
      display: flex;
      flex-direction: column-reverse;
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: $xsmall-spacing;
      margin-bottom: 200px;
      transition: $transition-bezier;

      &:hover {
        border: 2px solid $primary-color;
        border-radius: $default-border-radius;
      }

      &:first-child {
        margin-bottom: 80px;
      }

      .group {
        width: 30%;
        display: flex;
        flex-direction: column-reverse;

        .lot {
          margin: $xsmall-spacing;
          padding: $xsmall-spacing;
          // border: 1px solid #ccc;
          border-radius: $default-border-radius;
          height: 180px;
          cursor: pointer;
          transition: $transition-bezier;

          &:hover {
            box-shadow: $shadow-hover;
            transform: translateY(-2px);

            .plate-number-container {
              box-shadow: $shadow-hover;
            }
          }

          .lot-header {
            display: flex;
            justify-content: space-between;
          }

          .parking-details {
            .parking-details-row {
              display: flex;
              .label {
                width: 35%;
                display: flex;
                justify-content: flex-end;
              }
              .value {
                padding-left: $xsmall-spacing;
                width: 65%;
              }
            }
          }

          .size-badge {
            padding: $xsmall-spacing;
            border-radius: $half-span;
            background-color: $light-color;
            width: $large-spacing;
            height: $large-spacing;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;

            &.occupied {
              background-color: rgb(255, 0, 0);
              color: $light-color;
            }
          }
        }
        .lot-0 {
          background-color: hsl(106, 65%, 79%);
        }
        .lot-1 {
          background-color: hsl(52, 65%, 79%);
        }
        .lot-2 {
          background-color: hsl(0, 43%, 73%);
        }
      }
    }
  }  
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: $full-span;
  height: $full-viewport-height;
  z-index: 3;

  .modal {
    .form {
      padding: $large-spacing;
      display: flex;
      flex-direction: column;

      .user-field {
        margin-bottom: $large-spacing;
      }
    }
    .footer {
      display: flex;
      justify-content: flex-end;
      .btn-container {
        button {
          margin-left: $large-spacing;
        }
      }
    }
  }
}


