$xsmall-spacing: 6px !default;
$small-spacing: 12px !default;
$mid-spacing: 16px !default;
$large-spacing: 24px !default;
$xlarge-spacing: 36px !default;
$xxlarge-spacing: 48px !default;

$default-border-radius: 5px !default;
$full-border-radius: 50% !default;

$default-shadow: 0px 0px 10px 2px hsl(0, 0%, 10%) !default;

$shadow-hover: 0px 0px 5px 1px hsl(0, 0%, 10%) !default; 

$full-span: 100% !default;
$half-span: 50% !default;
$third-span: 33.33% !default;
$full-viewport-height: 100vh !default;

$medium-font-size: 18px !default;

// $border: 1px solid #ccc;
$thick-border: 2px solid #000 !default;

$transition-bezier: all cubic-bezier(0.4, 0, 0.2, 1) 250ms !default;
$transition-ease: all ease 250ms !default;

$primary-color: hsl(231, 48%, 48%) !default;
$secondary-color: hsl(339, 100%, 48%) !default;
$light-color: hsl(100%, 100%, 100%) !default;