* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.main {
  padding: 24px
}

.plate-number-container {
  max-width: 200px;
  padding: 6px;
  margin: 6px;
  background-color: #ffe22e;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px hsl(0, 0%, 10%);
  min-width: 40%;
  height: fit-content;

  .plate-number {
    padding: 6px;
    border-radius: 4px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
  }
}

.unpark {
  display: flex;
  width: 100%;

  .details {
    flex-grow: 2;

    .details-row {
      display: flex;
      margin-bottom: 6px;

      div {
        padding: 0 6px;
      }

      .details-label {
        width: 40%;
        text-align: right;
      }
      .details-value {
        text-align: left;
      }
    }
  }
}

.override {
  padding: 24px 0;
  display: flex;
  justify-content: space-evenly;
}

.btn-controls {
  display: flex;
  justify-content: flex-end;
  padding: 6px 0;
}

// .rows {
//   display: flex;
//   flex-direction: column-reverse;
//   overflow-x: auto;

//   .row {
//     display: flex;
//     width: 100%;
//     // height: 250px;
//     border: 1px solid red;
//   }
// }

// .columns {
//   display: flex;
//   border: 1px solid red;
//   min-width: 33.33%;
//   justify-content: space-between;

//   .group {
//     display: flex;
//     width: 40%;
//     border: 1px solid red;
//     flex-direction: column-reverse;

//     .lot {
//       width: 100%;
//       height: 140px;
//       border: 1px solid red;
//     }
//   }
// }

.columns {
  display: flex;
  overflow-x: auto;

  .column {
    flex-grow: 1;
    min-width: 33.33%;
    // border: 1px solid red;

    .entry-form {
      padding: 6px;
      border: 1px solid #ccc;
      margin: 6px;
      border-radius: 5px;

      .btn-controls {
        display: flex;
        justify-content: space-between;
      }
    }

    .rows {
      display: flex;
      flex-direction: column-reverse;
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 76px;
      border-top: 1px dashed red;
      border-bottom: 1px solid #ccc;

      .group {
        width: 40%;
        display: flex;
        flex-direction: column-reverse;

        .lot {
          margin: 6px;
          padding: 6px;
          // border: 1px solid #ccc;
          border-radius: 5px;
          height: 150px;
          cursor: pointer;
          &:hover {
            box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);

            .plate-number-container {
              box-shadow: 0px 0px 5px 1px hsl(0, 0%, 10%);
            }
          }

          .size-badge {
            padding: 5px;
            border-radius: 50%;
            background-color: #fff;
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;

            &.occupied {
              background-color: red;
              color: #fff;
            }
          }
        }
        .lot-0 {
          background-color: rgb(181, 236, 165);
        }
        .lot-1 {
          background-color: rgb(236, 226, 165);
        }
        .lot-2 {
          background-color: rgb(216, 157, 157);
        }
      }
    }
  }  
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(250, 250, 250, 0.5);
  z-index: 2;

  .modal {
    .form {
      padding: 24px;
      display: flex;
      flex-direction: column;

      .user-field {
        margin-bottom: 24px;
      }
    }
    .footer {
      display: flex;
      justify-content: flex-end;
      .btn-container {
        button {
          margin-left: 24px;
        }
      }
    }
  }
}


