@import './c_app.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.main {
  padding: $large-spacing
}

.plate-number-container {
  max-width: 200px;
  padding: $xsmall-spacing;
  margin: $xsmall-spacing;
  background-color: #ffe22e;
  border-radius: $default-border-radius;
  box-shadow: $default-shadow;
  min-width: 40%;
  height: fit-content;

  .plate-number {
    padding: $xsmall-spacing;
    border-radius: $default-border-radius;
    border-top: $thick-border;
    border-bottom: $thick-border;
    text-align: center;
  }
}

.unpark {
  display: flex;
  width: $full-span;

  .details {
    flex-grow: 2;

    .details-row {
      display: flex;
      margin-bottom: $xsmall-spacing;

      div {
        padding: 0 $xsmall-spacing;
      }

      .details-label {
        width: 40%;
        text-align: right;
      }
      .details-value {
        text-align: left;
      }
    }
  }
}

.override {
  padding: $large-spacing 0;
  display: flex;
  justify-content: space-evenly;
}

.btn-controls {
  display: flex;
  justify-content: flex-end;
  padding: $xsmall-spacing 0;
}

// .rows {
//   display: flex;
//   flex-direction: column-reverse;
//   overflow-x: auto;

//   .row {
//     display: flex;
//     width: $full-span;
//     // height: 250px;
//     border: 1px solid red;
//   }
// }

// .columns {
//   display: flex;
//   border: 1px solid red;
//   min-width: 33.33%;
//   justify-content: space-between;

//   .group {
//     display: flex;
//     width: 40%;
//     border: 1px solid red;
//     flex-direction: column-reverse;

//     .lot {
//       width: $full-span;
//       height: 140px;
//       border: 1px solid red;
//     }
//   }
// }

.columns {
  display: flex;
  overflow-x: auto;

  .column {
    flex-grow: 1;
    min-width: $third-span;
    // border: 1px solid red;

    .entry-form {
      padding: $xsmall-spacing;
      border: $border;
      margin: $xsmall-spacing;
      border-radius: $default-border-radius;

      .car-details {
        display: flex;
        width: $full-span;
        justify-content: space-between;

        .btn-random {
          height: 54px;
          margin-right: $small-spacing;
        }

        .plate-number {
          flex-grow: 2;
          margin-right: $small-spacing;
        }
      }

      .btn-controls {
        display: flex;
        justify-content: flex-end;
      }
    }

    .rows {
      display: flex;
      flex-direction: column-reverse;
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 7$xsmall-spacing;
      border-top: 1px dashed red;
      border-bottom: 1px solid #ccc;
      margin-bottom: 100px;

      &:last-child {
        margin-bottom: 80px;
      }

      .group {
        width: 30%;
        display: flex;
        flex-direction: column-reverse;

        .lot {
          margin: $xsmall-spacing;
          padding: $xsmall-spacing;
          // border: 1px solid #ccc;
          border-radius: $default-border-radius;
          height: 170px;
          cursor: pointer;
          &:hover {
            box-shadow: $shadow-hover;
            transform: translate(-2px,-2px);

            .plate-number-container {
              box-shadow: $shadow-hover;
            }
          }

          .lot-header {
            display: flex;
            justify-content: space-between;
          }

          .parking-details {
            .parking-details-row {
              display: flex;
              .label {
                width: 35%;
                display: flex;
                justify-content: flex-end;
              }
              .value {
                padding-left: $xsmall-spacing;
                width: 65%;
              }
            }
          }

          .size-badge {
            padding: $xsmall-spacing;
            border-radius: $half-span;
            background-color: #fff;
            width: $large-spacing;
            height: $large-spacing;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;

            &.occupied {
              background-color: red;
              color: #fff;
            }
          }
        }
        .lot-0 {
          background-color: rgb(181, 236, 165);
        }
        .lot-1 {
          background-color: rgb(236, 226, 165);
        }
        .lot-2 {
          background-color: rgb(216, 157, 157);
        }
      }
    }
  }  
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: $full-span;
  height: $full-viewport-height;
  background-color: rgba(250, 250, 250, 0.5);
  z-index: 2;

  .modal {
    .form {
      padding: $large-spacing;
      display: flex;
      flex-direction: column;

      .user-field {
        margin-bottom: $large-spacing;
      }
    }
    .footer {
      display: flex;
      justify-content: flex-end;
      .btn-container {
        button {
          margin-left: $large-spacing;
        }
      }
    }
  }
}


